.footerContainer{
  padding: 0px 120px;
  box-sizing: border-box;
  text-align: center;
  /* margin-bottom: 80px; */

}
.footer_pic{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
   
}
.footer_pic> img{
    width: 3.5%;
}
.footer_txt{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}
.footer_txt img{
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    margin-top: 1rem;
}
.footer_txt p{
    font-size: 1rem;
    font-weight: 700;
    color: #333333;
}
.footer_frame{
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
}
.footer_frame img{
    width: 8%;
}
.footer_items{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.75rem;
}
.footer_items p{
    font-size: 1rem;
    font-family:'Darker Grotesque', sans-serif;
    font-weight: 700;
    color:#333333;
    
}
.copyright{
    color:#333333;
    font-size: 1rem;
    font-family: 'Galeno Grotesque';
    line-height: 0.75rem;
    margin-top: 0.55rem;
}


@media screen and (max-width:1500px){
    .footer_pic{
        margin-top: 2.5rem;
       
    }
}

@media screen and (max-width:1200px){
    .footer_pic{
        margin-top: -4rem;
       
    }
    .footer_items p{
        font-size: 0.95rem;
        font-family:'Darker Grotesque', sans-serif;
        font-weight: 700;
        color:#333333;
    }
}

@media screen and (max-width:1024px){
    .footer_pic{
        margin-top: -6rem;
       
    }
    .footer_items p{
        font-size: 0.80rem;
        font-family:'Darker Grotesque', sans-serif;
        font-weight: 700;
        color:#333333;
    }
}

@media screen and (max-width:912px){
    .footer_pic{
        margin-top: -10rem;
    }
    .footer_txt{
        margin-top: 0.9rem;
    }
    .footer_txt img{
        
        margin-top: 1rem;
    }
    .footer_txt p{
        font-size: 0.90rem;
    }
    .footer_items p{
        font-size: 0.70rem;
        font-family:'Darker Grotesque', sans-serif;
        font-weight: 700;
        color:#333333;
    }
    .copyright{
        font-size: 0.85rem;
        line-height: 0.70rem;
        margin-top: 0.55rem;
    }
}

@media screen and (max-width:820px){
    .footer_pic{
        margin-top: -14rem;
    }
    .footer_txt{
        margin-top: 0.8rem;
    }
    .footer_txt img{
        margin-top: 1rem;
    }
    .footer_txt p{
        font-size: 0.80rem;
    }
    .footer_items p{
        font-size: 0.60rem;
        font-weight: 600;
    }
    .copyright{
        font-size: 0.65rem;
        line-height: 0.70rem;
        margin-top: 0.55rem;
    }
}

@media screen and (max-width:768px){
    .footer_pic{
        margin-top: -16rem;
    }
    .footer_txt{
        margin-top: 0.7rem;
    }
    .footer_txt img{
        margin-top: 0.7rem;
    }
    .footer_txt p{
        font-size: 0.80rem;
    }
    .footer_items p{
        font-size: 0.50rem;
        font-weight: 600;
    }
    .copyright{
        font-size: 0.5rem;
        line-height: 0.70rem;
        margin-top: 0.55rem;
    }
}

@media screen and (max-width:540px){
    .footer_pic{
        margin-top: -18rem;
    }
    .footer_txt{
        margin-top: 0.6rem;
    }
    .footer_txt img{
        margin-top: 0.6rem;
    }
    .footer_txt p{
        font-size: 0.70rem;
    }
    .footer_items p{
        font-size: 0.35rem;
        font-weight: 600;
    }
    .copyright{
        font-size: 0.4rem;
        line-height: 0.60rem;
        margin-top: 0.55rem;
    }
}