/* form_pic_container is taking its css from form1.css */

.form2_pic {
    /* height: 40vh; */
    width : 100%;
    background: url("../../../public/Images/form2pic.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;   /*to move background-image on x & y-axis */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
  }

  .form2_pic p {
    font-size: 2rem;
    font-weight: 800;
    font-family: "Darker Grotesque", sans-serif;
  }
 .form2_main{                 /* to provide padding on both sides  */
  padding : 2rem 7.5rem;
  box-sizing: border-box;
}
.choose_pkg{
    display: flex;
    justify-content: center;
}
.choose_pkg p{
    font-size: 1.1rem;
    font-family: 'Galeno Grotesque';
    color : #929292;
}
.main_con{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #F7FCFF;  
    
}
.txt_pic{
    height: 100%;
    width: 40%;
    /* background: gray; */
    margin-left: 3rem;
    margin-top: 4rem;
}
.txt_pic img{
    width: 10%;
}
.list{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color:#929292;
}
/* .display{
    display: flex;
} */


.maincards_div{
    height: 90%;
    width: 70%;
    background: #ffffff;
    /* background: green; */
    margin-top: 4rem;
    margin-right: 2rem;
}
.cards_div{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap:0px;
    /* background: red; */
    margin-left: 2rem;
}
.card1,.card2,.card3{
    margin-top: 2rem;
    /* height:83vh; */
    width: 80%;
    background: #F1F1F1;
    border-radius: 18px;
}
.card1 p,.card2 p,.card3 p{
    font-size: 1rem;
    font-family: 'Galeno Grotesque';
    color: #333333;
    font-weight: 500;
}
.card1{
    /* margin-left: 15%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.card2{
    /* margin-left: 10%; */
    /* margin-right: 5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.card3{
    /* margin-left: 5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
#ofnn,#tznn,#fnnn{
    width: 60%;
}
.tick{
    width: 15%;
}
.dash{
    width: 10%;
}
.one_x{
    font-size: 0.85rem;
    color: #333333;
    line-height: 0.1rem;
    
}
.bttn,.bttn2,.bttn3{
    padding: 0.5rem 3rem;
    border-radius: 8px;
    border: none;
    background: #8DC3DF;
    color: #ffffff;
    font-size: 0.75rem;
    font-family: 'Galeno Grotesque Bold';
}
.bttn{
    margin-top: 1rem;
}
.bttn2{
    background: #518099;
    /* margin-top: 0.4rem; */
}
.bttn3{
    background: #333333;
    /* margin-top: 0.5rem; */
}
.reg_process{
    display:flex;
    justify-content: center;
    margin-top: 4rem;
    /* margin-top: 5%; */
}
.reg_process p{
    color:#333333;
    font-family:'Galeno Grotesque';
    font-weight: 600;
}
.payment_lane{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
}
.klarna,.amazon_pay,.paypal{
    height: 3rem;
    width: 20%;
    border: 1px solid #BDBDBD;
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}
.round{
    width: 8%;
}
.klarna p,.amazon_pay p,.paypal p{
    font-size: 0.85rem;
    font-family: 'Galeno Grotesque';
    color: #333333;
}
.icon_pic{
    width: 30%;
}

.voucher{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.voucher p{
    color:#333333;
    font-size: 1rem;
    font-family: 'Galeno Grotesque';
    font-weight: 600;
}

.enter_voucher{
    display: flex;
    justify-content: center;
    align-items: center;
}
.enter_voucher p{
    /* width: 30%; */
    background: #F7FCFF;
    /* background: #333333; */
    display: flex;
    justify-content: center;
    padding: 1.5rem 13rem;
    color: #BBBBBB;
}


/* <div className='continue'>
<button>CONTINUE</button>
</div> */

.continue{
    display: flex;
    justify-content: center;
    align-items: center;
}
.continue button{
    background: #333333;
    display: flex;
    justify-content: center;
    padding: 0.75rem 3rem;
    color: #ffffff;
    border: none;
    font-size: 0.75rem;
    font-family: 'Galeno Grotesque';
    border-radius: 5px;
    font-weight: 600;
}
@media screen and (max-width:1500px){
    html{
      font-size: 18px;
    }
    /* .reg_process{
        margin-top: -18rem;
    } */
}

@media screen and (max-width:1280px){
    html{
      font-size: 17px;
    }
    .reg_process{
        margin-top: -18rem;
    }
    .f2_ftrmgn{
        margin-top: 2rem;
    }
}
@media screen and (max-width:1024px){
    html{
      font-size: 15px;
    }
    .reg_process{
        margin-top: -10rem;
    }
    .f2_ftrmgn{
        margin-top: -2rem;
    }
}
@media screen and (max-width:912px){
    html{
      font-size: 14px;
    }
    .reg_process{
        margin-top: -14rem;
    }
    .f2_ftrmgn{
        margin-top: -2rem;
    }
}
@media screen and (max-width:820px){
    html{
      font-size: 13px;
    }
    .reg_process{
        margin-top: -20rem;
    }
    .f2_ftrmgn{
        margin-top: -2rem;
    }
}
@media screen and (max-width:768px){
    html{
      font-size: 12px;
    }
    .reg_process{
        margin-top: -26rem;
    }
    .f2_ftrmgn{
        margin-top: -2rem;
    }
}
@media screen and (max-width:540px){
    html{
      font-size: 10px;
    }
    .reg_process{
        margin-top: -60rem;
    }
    .f2_ftrmgn{
        margin-top: -36rem;
    }
    
}
@media screen and (max-width:412px){
    html{
      font-size: 8px;
    }
    .reg_process{
        margin-top: -90rem;
    }
    .f2_ftrmgn{
        margin-top: -60rem;
    }
    
}
@media screen and (max-width:360px){
    html{
      font-size: 7px;
    }
    .reg_process{
        margin-top: -110rem;
    }
    .f2_ftrmgn{
        margin-top: -80rem;
    }
}