@import url('https://fonts.google.com/specimen/Darker+Grotesque?preview.text=Boost%20your%20business%20with%20NETME!&preview.text_type=custom&query=Grotesque');
.home2_main{
    padding: 2rem 120px;
    box-sizing: border-box;
    
}
.main_text1{
    display: flex;
    justify-content: center;
    /* margin-top: 3em; */
    font-size: 1.75rem;
    font-family:  'Galeno Grotesque Bold', sans-serif;
    color:#333333;
}
.box_row1{
    display:flex;
    justify-content: space-evenly;
    /* gap: 4rem; */
    /* background: green; */
    margin-top: 3em;
}
.box{
    height: 12em;
    width:18em;
    /* border: 2px solid black; */
    border-radius: 8px;
    background: #F2F2F2;
    /* background: red; */
}

.box_row2{
    display:flex;
    justify-content: space-evenly;
    margin-top: 2em;
    /* background: green; */
}


/* box contents  defined and customized */

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_pic img{
    height: 55%;
    margin-top: 1em;
}
.box_heading{
    font-size: 1em;
    font-weight: 600;
    
    margin-top:-0.75em;
}
.box p{
    font-size: 0.75em;
    opacity: 80%;
    color: #333333;
}
.box_text{
    margin-top: -1em;
    color: #333333;
}